/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2018, 21:54:46
    Author     : Gustavo Vieira SSD
*/

.msgs_topo_erro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    background-color: #ff0033;
    color: #000000;
    padding: 10px;
    font-size: 20px;
    z-index: 3;
}

.msgs_topo_acerto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #006633;
    color: #000000;
    padding: 10px;
    font-size: 20px;
    z-index: 3;
}

.msgs_topo_atencao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    background-color: #ffcc00;
    color: #000000;
    padding: 10px;
    font-size: 20px;
    z-index: 3;
}