/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2018, 21:54:46
    Author     : Gustavo Vieira SSD
*/
*{
    font-family: monospace, verdana;
    font-size: 18px;
    color: #000000;
}
.msgs_topo_erro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    background-color: #ff0033;
    color: #000000;
    padding: 10px;
    size: 20px;
}

.msgs_topo_acerto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    background-color: #006633;
    color: #000000;
    padding: 10px;
    size: 20px;
}

.msgs_topo_atencao{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    background-color: #ffcc00;
    color: #000000;
    padding: 10px;
    size: 20px;
}